:root {
  --all-viewports-h5-font-family: "BTCurve-Bold", Helvetica;
  --all-viewports-h5-font-size: 16px;
  --all-viewports-h5-font-style: normal;
  --all-viewports-h5-font-weight: 700;
  --all-viewports-h5-letter-spacing: 0px;
  --all-viewports-h5-line-height: 24px;
  --all-viewports-paragraph-font-family: "BTCurve-Regular", Helvetica;
  --all-viewports-paragraph-font-size: 16px;
  --all-viewports-paragraph-font-style: normal;
  --all-viewports-paragraph-font-weight: 400;
  --all-viewports-paragraph-letter-spacing: 0px;
  --all-viewports-paragraph-line-height: 24px;
  --all-viewports-small-paragraph-font-family: "BTCurve-Regular", Helvetica;
  --all-viewports-small-paragraph-font-size: 12px;
  --all-viewports-small-paragraph-font-style: normal;
  --all-viewports-small-paragraph-font-weight: 400;
  --all-viewports-small-paragraph-letter-spacing: 0px;
  --all-viewports-small-paragraph-line-height: 16px;
  --brand-1: rgba(101, 24, 215, 1);
  --brand-2: rgba(85, 20, 180, 1);
  --brand-2-50: rgba(85, 20, 180, 0.5);
  --brand-3: rgba(68, 16, 143, 1);
  --greyscale-1: rgba(255, 255, 255, 1);
  --greyscale-1-50: rgba(255, 255, 255, 0.5);
  --greyscale-11: rgba(129, 129, 129, 1);
  --greyscale-12: rgba(107, 107, 107, 1);
  --greyscale-12-50: rgba(107, 107, 107, 0.5);
  --greyscale-15: rgba(42, 42, 42, 1);
  --greyscale-15-50: rgba(42, 42, 42, 0.5);
  --greyscale-2: rgba(247, 247, 247, 1);
  --greyscale-3: rgba(240, 240, 240, 1);
  --greyscale-6: rgba(204, 204, 204, 1);
}
